html, body {
    height: 100%;;
    margin: 0;
    padding: 0;
    font-family: 'Iosevka', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
}
#canvas {
    /* background-color: powderblue; */
    background-color: #3ab577;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.controls, .resume {
    display: flex;
    flex-direction: row;
}
.button {
    background: transparent;
    border: black solid 1px;
    border-radius: 5px;
    padding: 0.5rem;
}
.controls .button {
    min-width: 50px;
}
.controls .button:not(:nth-last-child(1)) {
    margin-right: 0.5rem;
}
.play, .pause {
    min-width: 100px;
    margin-left: 1rem;
}
.play {
    display: none;
}
.pause {
    display: block;
}
.paused .play {
    display: block;
}
.paused .pause {
    display: none;
}
